.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding: 10px;
}

.post__badge {
    color: var(--twitter-color);
    font-size: 16px !important;
}

.post__body > img {
    border-radius: 20px;
    width: 100% !important;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post__headerSpecial {
    color: gray;
    font-weight: 400;

}

.post__headerText > h3 {
    margin-bottom: 5px;
    font-size: 15px;
}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    padding: 6px;
}
